<div class="main_content">
    <ul>
      <li class="list_item"><a href="/">Main Menu</a></li>
      <li class="list_item"><a href="/contacts">View all contacts</a></li>
      <li class="list_item"><a href="/new">Create new contact</a></li>
      <!-- please complete me with links to other actions -->
    </ul>
</div>
