*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  background-color: black;
  color:white;
  text-align: center;
  font-size: 24px;
  padding: 15px 0;
}

.nav_list_link {
  background-color: grey;
  color: white;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 0;
  margin: 2px 0;
}

.main_content {
  width: 90%;
  margin-left: 5%;
}

.underline_count {
  font-weight: bold;
  border-bottom: 2px solid teal;
}

.number_of_contacts {
  background: red;
  color: black;
  padding: 10px 0 10px 20px;
  margin: 5px auto;
  font-size: 18px;
}

.list_item {
  background: teal;
  color: black;
  padding: 10px 0 10px 20px;
  margin: 5px auto;
  font-size: 16px;
  font-weight: bold;
}

.little_link {
  font-size: 10px;
  text-decoration: underline;
  color: blue;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.first_name {
  color: tomato;
}
